@model TestCSharp.Models.Articolo

@{
    ViewBag.Title = "Articoli - Modifica";
}

@*@section sectionScripts {

}*@

<h1>Articoli: Modifica articolo</h1>

<a href="@ViewBag.BackUrl">Torna indietro</a>
<hr />

<form action="/Articolo/Update" method="post">
    <input type="hidden" name="BackUrl" id="BackUrl" value="@ViewBag.BackUrl" />
    @Html.HiddenFor(x => x.ID)

    <table class="dataTable">
        <tr>
            <td class="editor-label">
                Codice<span class="red"> *</span>
            </td>
            <td class="editor-input" colspan="2">
                <input id="Codice" name="Codice" type="text" value="@Model.Codice" required="required" data-error-container="span#codiceError" />
                <span id="codiceError" style="color:red"></span>
            </td>
            <td class="editor-label">
                Descrizione<span class="red"> *</span>
            </td>
            <td class="editor-input" colspan="2">
                <input id="Descrizione" name="Descrizione" type="text" value="@Model.Descrizione" required="required" data-error-container="span#descrizioneError" />
                <span id="descrizioneError" style="color:red"></span>
            </td>
        </tr>
    </table>
    
    <a href="#" onclick="$(this).closest('form').submit()">Salva</a>

    <div class="clearfix"></div>
</form>